<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Start</title>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Song+Myung&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="../static/style.css" >
    </head>

    <body>
<div class="my_div my_bg">
    <form action ="test.html">
        <div class="container">
            <div class="mybox">
                <h1 class="title"> { 웹개발 종합반 복습 Quiz } </h1>
                <h3> 지금까지 들은 강의를 복습해봅시다! </h3>
                <h3> 문제는 총 10문제로 구성되어 있습니다. </h3>
                </span>
            </div>
            <div>

                <button class="bttn" type="button" onclick="location.href='test'"><span style="color:white"><h2>~ 테스트 시작하기 ~</h2></span></button>
            </div>
        </div>
        </form>
    </body>
</html>